<div class="container form-overview-content">
  <!-- TODO: Remove -->
  <div class="panel panel-primary testing-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>United Masonry Form System Test</strong></h3>
    </div>
    <div class="panel-body">
      Thank you for testing the Forms Application.
      If you run into any errors or would like us to
      make any changes please feel free to 
      <%= link_to "Provide Feedback", new_feedback_path %>
      and we will work on it immediatley. 
    </div>
  </div>

  <h4 class="new-form-links__header">Create a new form:</h4>
  <div class="row new-form-links">
    <% @form_types.each do |form_type| %>
      <div class="col-md-4 new-form-link__link-container">
        <%= link_to form_type.name, new_form_type_form_path(form_type), id: "create-new-form-#{form_type.id}" , class: "new-form-link" %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="container forms-table-container">
    <h4 class="forms-table__header">Recently Submitted Forms:</h4>
    <input class="form-control forms-table__search-bar" id="myInput" type="text" placeholder="Search for anything..">
    <br>
    <table class="table table-striped table-bordered forms-table">
      <thead>
        <tr>
          <th>Form Type</th>
          <th>Date Submitted</th>
          <th>Submitted By</th>
          <th>Job #</th>
          <th>Failures?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @forms.each do |form| %>
          <tr>
            <td>
              <%= link_to form.form_type.name, form_type_form_path(form.form_type, form, format: :pdf), target: "_blank", class: "forms-table__form-link" %>
            </td>
            <td><%= form.created_at.to_date %></td>
            <td><%= form.user.display_name %></td>
            <td><%= form.job_number %></td>
            <td class="text-center">
              <% if form.has_failures? %>
                <span class="label label-danger">Yes</span>
              <% else %>
                <span class="label label-success">None</span>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to edit_form_type_form_path(form.form_type, form) do %>
                <%= display_icon("clipboard-edit", "icon--sm") %>
              <% end %>
              <%= link_to form_type_form_path(form.form_type, form), method: :delete, data: { confirm: "Are you sure you want to delete this form? This will also delete it from your local file system" } do %>
                <%= display_icon("bin1", "icon--sm icon--danger icon--trash") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="container forms-table-container">
    <h4 class="forms-table__header">Recently Uploaded Forms:</h4>
    <input class="form-control forms-table__search-bar" id="myInput" type="text" placeholder="Search for anything..">
    <br>
    <table class="table table-striped table-bordered forms-table">
      <thead>
        <tr>
          <th>Form Type</th>
          <th>Date Submitted</th>
          <th>Submitted By</th>
          <th>Job #</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @form_uploads.each do |form_upload| %>
          <tr>
            <td>
              <%= link_to form_upload.form_type.name, url_for(form_upload.form), target: "_blank" %>
            </td>
            <td><%= form_upload.created_at.to_date %></td>
            <td><%= form_upload.user.display_name %></td>
            <td><%= form_upload.job_number %></td>
            <td class="text-center">
              <%= link_to form_type_form_upload_path(form_upload.form_type, form_upload), method: :delete, data: { confirm: "Are you sure you want to delete this form? This will also delete it from your local file system" } do %>
                <%= display_icon("bin1", "icon--sm icon--danger icon--trash") %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>