<h4>Create a new form</h4>
<% @form_types.each do |form_type| %>
  <div>
    <%= link_to "#{form_type.name}", new_form_type_form_path(form_type), id: "create-new-form-#{form_type.id}" %>
  </div>
<% end %>

<div class="container mt-3 forms-table-container">
  <h2 class="forms-table__header">Submitted Forms</h2>
  <input class="form-control forms-table__search-bar" id="myInput" type="text" placeholder="Search for anything..">
  <br>
  <table class="table table-striped table-bordered forms-table">
    <thead>
      <tr>
        <th>Form Type</th>
        <th>Date Submitted</th>
        <th>Submitted By</th>
        <th>Job #</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <% @forms.each do |form| %>
        <tr>
          <td>
            <%= link_to form.form_type.name, form_type_form_path(form.form_type, form), class: "forms-table__form-link" %>
          </td>
          <td><%= form.created_at %></td>
          <td><%= form.user.display_name %></td>
          <td><%= form.job_number %></td>
          <td class="text-right">
            <%= link_to edit_form_type_form_path(form.form_type, form) do %>
              <%= display_icon("clipboard-edit", "icon--sm") %>
            <% end %>
            <%= link_to form_type_form_path(form.form_type, form), method: :delete do %>
              <%= display_icon("bin1", "icon--sm icon--danger") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>