<div class="sub__nav">

  <ul class="nav__items">
    <li class="nav__item">
      <a href="#associations" class="nav__link" data-turbolinks="false">Associations</a>
    </li>
    <li class="nav__item">
      <a href="#awards" class="nav__link" data-turbolinks="false">Awards</a>
    </li>
    <li class="nav__item">
      <a href="#community_service" class="nav__link" data-turbolinks="false">Community Service</a>
    </li>
  </ul>
</div>
<!-- <h1>About Us</h1> -->
<!------------------ Associations Section ------------------>

<section id="associations" class="section">
  <div class="section__header">
    <h3 class="section__heading">Associations</h3>
    <p class="section__desc">
  </div>
  <div class="section__content">
    <%= render "static/home/partials/association_cards" %>

   <!-- <div class="section__btn-cta">
      <%= link_to services_path, class: "btn btn--lg", id: "more-services" do %>
        <%= content_tag(:span, "View All Services") %>
      <% end %>
    </div> -->
  </div>
</section>

<!------------------ Awards Section ------------------>

<section id="awards" class="section">
  <div class="section__header">
    <h3 class="section__heading">Awards</h3>
    <p class="section__desc">
  </div>
  <div class="section__content">
    <%= render "static/home/partials/award_cards" %>

    <!-- <div class="section__btn-cta">
      <%= link_to services_path, class: "btn btn--lg", id: "more-services" do %>
        <%= content_tag(:span, "View All Services") %>
      <% end %>
    </div> -->
  </div>
</section>

<!------------------ Community Service Section ------------------>

<section id="community_service" class="section">
  <div class="section__header">
    <h3 class="section__heading">Community Service</h3>
    <p class="section__desc">
  </div>
  <div class="section__content">
    <%= render "static/home/partials/community_service_cards" %>

    <!-- <div class="section__btn-cta">
      <%= link_to services_path, class: "btn btn--lg", id: "more-services" do %>
        <%= content_tag(:span, "View All Services") %>
      <% end %>
    </div> -->
  </div>
</section>