<div id="home">
  <div class="slide-show">
    <div class="slide-show__img-container">
      <%= image_tag("slide1.jpg", class: "slide-show__img") %>
    </div>
    <div class="slide-show__img-container">
      <%= image_tag("slide2.jpg", class: "slide-show__img") %>
    </div>
    <div class="slide-show__img-container">
      <%= image_tag("slide3.jpg", class: "slide-show__img") %>
    </div>
  </div>

  <section id="about-us" class="about-us">
    <h3 class="about-us__heading">About Us</h3>
    <div class="about-us__content">
      <div class="about-us__desc">
        <h4 class="about-us__subheading">
          Welcome! 
        </h4>
        <p class="about-us__text">
          Superior performance in safety and quality has set United Masonry apart from the competition. Our ability to consistently meet our customers needs has kept clients returning for decades. Established in 1953, United Masonry has grown to become the leading full service masonry specialist in the Mid-Atlantic region. From large high-rise structures to small retail establishments, our work can be seen from Maryland to the Carolinas.
        </p>
        <%= link_to about_us_path, class: "btn btn--md", id: "more-about_us" do %>
          <%= content_tag(:span, "View More About Us") %>
        <% end %>
      </div>
      <div class="about-us__image-box">
        <%= image_tag("services1.jpg", class: "about-us__img") %>
      </div>
    </div>
  </section>

  <section id="services" class="section">
    <div class="section__header">
      <h3 class="section__heading">Services</h3>
      <p class="section__desc">
        The experienced staff at UM have successfully completed some of the regions most complex masonry systems, repairs and challenges in the Mid-Atlantic region.
      </p>
    </div>
    <div class="section__content">
      <%= render "static/home/partials/service_cards" %>
      
      <div class="section__btn-cta">
        <%= link_to services_path, class: "btn btn--lg", id: "more-services" do %>
          <%= content_tag(:span, "View All Services") %>
        <% end %>
      </div>
    </div>
  </section>

  <section id="projects" class="section">
    <div class="section__header">
      <h3 class="section__heading">Projects</h3>
      <p class="section__desc">
      </p>
    </div>
    <div class="section__content">

      <div class="gallery">
        <figure class="gallery__item gallery__item--1">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--2">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--3">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--4">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--5">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--6">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--7">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--8">
          <%= image_tag("services2.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--9">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
      </div>
      
      <div class="section__btn-cta">
        <%= link_to projects_path, class: "btn btn--lg", id: "more-projects" do %>
          <%= content_tag(:span, "View All Projects") %>
        <% end %>
      </div>
    </div>
  </section>

  <section id="news" class="section">
    <div class="section__header">
      <h3 class="section__heading">Recent News</h3>
      <p class="section__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="section__content">
      <div class="news-articles">

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

      </div>
    </div>
  </section>

  <section id="locations" class="locations">
    <div class="locations__header">
      <h3 class="section__heading">Our Locations</h3>
    </div>
    <div class="locations__content">
      <div class="location-items">
        <div class="location">
          <div class="location__map">
            <%= maps_iframe1 %>
          </div>
          <div class="location__desc">
            <h4 class="location__title">Home Office</h4>
            <p class="location__address">
              United Masonry Incorporated of Virginia <br />
              5250 Cherokee Avenue <br />
              Suite 245 <br />
              Alexandria, VA 22312 <br />
              <div class="location__contact-number">
                <%= display_icon("phone", "location__icon") %>
                703-971-6840 
              </div> 
              <div class="location__contact-number">
                <%= display_icon("printer-text", "location__icon") %>
                703-971-3368
              </div>
            </p>
          </div>
        </div>

        <div class="location">
          <div class="location__map">
            <%= maps_iframe2 %>
          </div>
          <div class="location__desc">
            <h4 class="location__title">Mailing Address</h4>
            <p class="location__address">
              United Masonry Incorporated of Virginia <br />
              c/o United Building Group <br />
              9204 Venture Court <br />
              Manassas, VA 20111 <br />
              
              <div class="location__contact-number">
                <%= display_icon("phone", "location__icon") %>
                703-971-6840 
              </div> 
              <div class="location__contact-number">
                <%= display_icon("printer-text", "location__icon") %>
                703-971-3368
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



































