<!-- TODO: Create Partial for Individual Cards -->
<div class="service-cards">
  <!---------- Card 1 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--first">
        &nbsp;
      </div>
      <h4 class="service-card__title">Associated Builders & Contractors</h4>
      <div class="service-card__details">
        <ul>
          <li>ABC is a national association with 77 chapters representing 25,000 merit shop construction and construction-related firms with two million employees.</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 2 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--second">
        &nbsp;
      </div>
      <h4 class="service-card__title">Associated Builders & Contractors</h4>
      <div class="service-card__details">
        <ul>
          <li>The Virginia Chapter of ABC is a statewide, pro-business association representing construction and construction-related firms, with offices in Chantilly, Richmond, and Hampton Roads. ABC-VA has the compelling distinction of being the only association that is based on a philosophy of free enterprise.</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 3 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--third">
        &nbsp;
      </div>
      <h4 class="service-card__title">DC Metropolitan Subcontractors Association</h4>
      <div class="service-card__details">
        <ul>
          <li>DCMSA is a local chapter of the 5,000-member American Subcontractors Association (ASA).</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
</div>









    
