<!-- TODO: Create Partial for Individual Cards -->
<div class="service-cards">
  <!---------- Card 1 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--first">
        &nbsp;
      </div>
      <h4 class="service-card__title">AIA NOVA Chapter: Craftsmanship Award Winner</h4>
      <div class="service-card__details">
        <ul>
          <li>2010</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>

  <!---------- Card 2 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--second">
        &nbsp;
      </div>
      <h4 class="service-card__title">ABC Masonry Subcontractor Of The Year</h4>
      <div class="service-card__details">
        <ul>
          <li>2006, 2007, 2009, & 2010</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>

  <!---------- Card 3 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--third">
        &nbsp;
      </div>
      <h4 class="service-card__title">ABC STEP "Gold" Safety Award</h4>
      <div class="service-card__details">
        <ul>
          <li>2007, 2008, & 2009</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
</div>