<div class="service-cards">
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--first">
        &nbsp;
      </div>
      <h4 class="service-card__title">Fairfax County urban search &
    rescue 2003</h4>
      <div class="service-card__details">
        <ul>
          <li>Certificate of appreciation - Donated time for the construction of their training facility
          "Structural Collapse Building"</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>

  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--second">
        &nbsp;
      </div>
      <h4 class="service-card__title">US Secret Service</h4>
      <div class="service-card__details">
        <ul>
          <li>Certificate of Appreciation for work
          completed</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>

  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--third">
        &nbsp;
      </div>
      <h4 class="service-card__title">ABC Excellence in Construction</h4>
      <div class="service-card__details">
        <ul>
          <li>2009 & 2010 Judge for Construction Awards</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
</div>