<!-- TODO: Create Partial for Individual Cards -->
<div class="service-cards">
  <!---------- Card 1 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--first">
        &nbsp;
      </div>
      <h4 class="service-card__title">Commercial Masonry</h4>
      <div class="service-card__details">
        <ul>
          <li>The Patent & Trademark Office (PTO) Headquarters</li>
          <li>Lincoln Square, Washington, D.C.</li>
          <li>Potomac Firehouse, Alexandria, Va</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 2 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--second">
        &nbsp;
      </div>
      <h4 class="service-card__title">Institutional Masonry</h4>
      <div class="service-card__details">
        <ul>
          <li>Georgetown University Jesuit Residence</li>
          <li>Georgetown University Dining Facility</li>
          <li>George Washington University Hospital</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 3 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--third">
        &nbsp;
      </div>
      <h4 class="service-card__title">Residential Masonry</h4>
      <div class="service-card__details">
        <ul>
          <li>1499 Massachusetts Ave, Washington, D.C.</li>
          <li>Silver Spring Gateway</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--md" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
</div>









    
