<!-- TODO: Create Partial for Individual Cards -->
<div class="service-cards">
  <!---------- Card 1 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--first">
        &nbsp;
      </div>
      <h4 class="service-card__title">Service 1</h4>
      <div class="service-card__details">
        <ul>
          <li>This is Detail 1</li>
          <li>This is Detail 2</li>
          <li>This is Detail 3</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--service-card-back" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 2 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--second">
        &nbsp;
      </div>
      <h4 class="service-card__title">Service 2</h4>
      <div class="service-card__details">
        <ul>
          <li>This is Detail 1</li>
          <li>This is Detail 2</li>
          <li>This is Detail 3</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--service-card-back" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
  
  <!---------- Card 3 ---------->
  <div class="service-card">
    <div class="service-card__side service-card__side--front">
      <div class="service-card__img service-card__img--third">
        &nbsp;
      </div>
      <h4 class="service-card__title">Service 3</h4>
      <div class="service-card__details">
        <ul>
          <li>This is Detail 1</li>
          <li>This is Detail 2</li>
          <li>This is Detail 3</li>
        </ul>
      </div>
    </div>
    <div class="service-card__side service-card__side--back">
      <%= link_to root_path, class: "btn btn--service-card-back" do %>
        <%= content_tag(:span, "Service Details") %>
      <% end %>
    </div>
  </div>
</div>









    
