<!-- TODO: 
- Pull out common components into partial
- Responsive Design
- Replace slider images
- Give slider images opacity
- Add text on top of slider images
- Compatibility with IE
- Responsive Design
-->

<div id="home">
  <div class="slide-show">
    <div class="slide-show__img-container">
      <%= image_tag("slide1.jpg", class: "slide-show__img") %>
    </div>
    <div class="slide-show__img-container">
      <%= image_tag("slide2.jpg", class: "slide-show__img") %>
    </div>
    <div class="slide-show__img-container">
      <%= image_tag("slide3.jpg", class: "slide-show__img") %>
    </div>
  </div>

  <!------------------ About Us Section ------------------>

  <section id="about-us" class="about-us">
    <h3 class="about-us__heading">About Us</h3>
    <div class="about-us__content">
      <div class="about-us__desc">
        <h4 class="about-us__subheading">
          We Like Doing A Lot Of Stuff 
        </h4>
        <p class="about-us__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam alias sunt laboriosam iure recusandae, ullam modi mollitia, veniam eligendi eum ab temporibus praesentium eveniet accusamus amet rerum nam maxime corporis!
        </p>
        <%= link_to root_path, class: "btn btn--md" do %>
          <%= content_tag(:span, "Our History") %>
        <% end %>
      </div>
      <div class="about-us__image-box">
        <%= image_tag("services1.jpg", class: "about-us__img") %>
      </div>
    </div>
  </section>



  <!------------------ Services Section ------------------>

  <section id="services" class="section">
    <div class="section__header">
      <h3 class="section__heading">Services</h3>
      <p class="section__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="section__content">
      <%= render "service_cards" %>
      
      <div class="section__btn-cta">
        <%= link_to root_path, class: "btn btn--lg" do %>
          <%= content_tag(:span, "View All Services") %>
        <% end %>
      </div>
    </div>
  </section>



  <!------------------ Projects Section ------------------>

  <section id="projects" class="section">
    <div class="section__header">
      <h3 class="section__heading">Projects</h3>
      <p class="section__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="section__content">

      <div class="gallery">
        <figure class="gallery__item gallery__item--1">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--2">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--3">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--4">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--5">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--6">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--7">
          <%= image_tag("services1.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--8">
          <%= image_tag("services2.jpg", class: "gallery__img") %>
        </figure>
        <figure class="gallery__item gallery__item--9">
          <%= image_tag("services3.jpg", class: "gallery__img") %>
        </figure>
      </div>
      
      <div class="section__btn-cta">
        <%= link_to root_path, class: "btn btn--lg" do %>
          <%= content_tag(:span, "View All Projects") %>
        <% end %>
      </div>
    </div>
  </section>



  <!------------------ News Section ------------------>

  <section id="news" class="section">
    <div class="section__header">
      <h3 class="section__heading">Recent News</h3>
      <p class="section__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="section__content">
      <div class="news-articles">

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

        <article class="news-article">
          <%= display_icon("news", "news-article__icon") %>
          <div class="news-article__content">
            <div class="news-article__heading-box">
              <h4 class="news-article__heading">
                <%= link_to "We do stuff too", root_path %>
              </h4>
              <div class="news-article__date-box">
                <%= display_icon("calendar", "news-article__date-icon") %>
                <p class="news-article__date-text">
                  16 February 2019
                </p>
              </div>
            </div>
            <p class="news-article__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum laboriosam illo alias vitae, placeat, veniam.</p>
          </div>
        </article>

      </div>
    </div>
  </section>


  <!------------------ Locations Section ------------------>

  <section id="locations" class="section">
    <div class="section__header">
      <h3 class="section__heading">Our Locations</h3>
      <p class="section__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="section__content">

      <div class="location">
        <div class="location__map">
          <%= maps_iframe1 %>
        </div>
        <div class="location__desc">
          <h4 class="location__title">Home Office</h4>
          <p class="location__address">
            United Masonry Incorporated of Virginia <br />
            5250 Cherokee Avenue <br />
            Suite 245 <br />
            Alexandria, VA 22312 <br />
            P) 703-971-6840 <br />
            F) 703-971-3368
          </p>
        </div>
      </div>

      <div class="location">
        <div class="location__map">
          <%= maps_iframe1 %>
        </div>
        <div class="location__desc">
          <h4 class="location__title">Mailing Address</h4>
          <p class="location__address">
            United Masonry Incorporated of Virginia <br />
            c/o United Building Group <br />
            9204 Venture Court <br />
            Manassas, VA 20111 <br />
            P) 703-971-6840 <br />
            F) 703-971-3368
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

































