<!-- TODO: 
- Replace sldier images
- Give slider images opacity
- Add text on top of slider images
-->

<div class="home">
  <div class="slide-show">
    <div class="img-container">
      <%= image_tag("slide1.jpg", class: "img-container__img") %>
    </div>
    <div class="img-container">
      <%= image_tag("slide2.jpg", class: "img-container__img") %>
    </div>
    <div class="img-container">
      <%= image_tag("slide3.jpg", class: "img-container__img") %>
    </div>
  </div>

  <!------------------ About Us Section ------------------>
  <section class="about-us">
    <h3 class="about-us__heading">About Us</h3>
    <div class="about-us__content">
      <div class="about-us__desc">
        <h4 class="about-us__subheading">
          We Like Doing A Lot Of Stuff 
        </h4>
        <p class="about-us__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam alias sunt laboriosam iure recusandae, ullam modi mollitia, veniam eligendi eum ab temporibus praesentium eveniet accusamus amet rerum nam maxime corporis!
        </p>
        <%= link_to root_path, class: "btn btn--md" do %>
          <%= content_tag(:span, "Our Services") %>
        <% end %>
      </div>
      <div class="about-us__image-box">
        <div class="about-us__img-bg">&nbsp;</div>
        <%= image_tag("services1.jpg", class: "about-us__img") %>
      </div>
    </div>
  </section>


  <!------------------ Services Section ------------------>

  <section class="services">
    <div class="services__header">
      <h3 class="services__heading">Our Services</h3>
      <p class="services__desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam eveniet voluptatum, eos eius possimus quo!
      </p>
    </div>
    <div class="services__content">
      <%= render "service_cards" %>
      
      <div class="link">
        <%= link_to root_path, class: "btn btn--lg" do %>
          <%= content_tag(:span, "View All Services") %>
        <% end %>
      </div>
    </div>
  </section>

  <!------------------ Projects Section ------------------>

  <!------------------ News Section ------------------>

  <!------------------ Careers Section ------------------>
</div>