<!-- TODO: Refactor -->
<div class="form-container">

  <%= form_for @form_type do |f| %>
    <div class="company-header">
      <div class="company-header__logo-box">
        <h3 class="comany-header__logo">UM</h3>
      </div> 

      <div class="company-header__name">
        United Masonry <br>
        Incorporated of <br>
        Virginia
      </div> 

      <div class="company-header__contact">
        9204 Venture Court<br>
        Manassas, VA 20111<br>
        P) 703.971.6840<br>
      </div>
    </div>

    <div class="new_form_type__name">
      <%= f.text_field :name, id: "field-form-type-name", placeholder: "Name of the form..." %>
    </div>  
    
    <%= f.fields_for :header_fields do |builder| %>
      <div class="new_form_type__header-fields">
        <%= render "header_field_fields", f: builder %>
      </div>
    <% end %>

    <div class="new_form_type__add-header-btn">
      <%= link_to_add_association "Add header field", f, :header_fields,  :render_options => { :wrapper => 'inline' },
     :wrap_object => Proc.new { |field| field.type = 'HeaderFormField'; field }, id: "add-header-field-link" %>
    </div>
    

    <div class="new_form_type__checklist">
      <h3>Checklist not yet implemented</h3>
    </div>

    <%= f.fields_for :footer_fields do |builder| %>
      <div class="new_form_type__footer-fields">
        <%= render "footer_field_fields", f: builder %>
      </div>
    <% end %>

    <div class="new_form_type__add-footer-btn">
      <%= link_to_add_association "Add footer field", f, :footer_fields,  :render_options => { :wrapper => 'inline' },
     :wrap_object => Proc.new { |field| field.type = 'FooterFormField'; field } %>
    </div>

    <div class="new_form_type__submit">
      <%= f.submit form_submit_text(@form_type), id: "btn-submit-new-form-type" %>
    </div>
  <% end %>
</div>


