<div class="form-container">

  <%= form_for @form_type do |f| %>
    <%= render "portal/shared/company_header" %>

    <div class="new_form_type__name">
      <%= f.text_field :name, class: "new_form_type__name-field", id: "field-form-type-name", placeholder: "Form title..." %>
    </div>  
    
    <div class="new_form_type__header-fields-container">
      <%= f.fields_for :header_fields do |builder| %>
        <div class="new_form_type__header-fields">
          <%= render "header_field_fields", f: builder %>
        </div>
      <% end %>

      <div class="new_form_type__add-header-btn">
        <%= link_to_add_association display_icon("plus", "new_form_type__add-field-icon"), f, :header_fields,  :render_options => { :wrapper => 'inline' },
       :wrap_object => Proc.new { |field| field.type = 'HeaderFormField'; field }, id: "add-header-field-link" %>
      </div>
    </div>

    <div class="checklist-fields-container">
      <div class="checklist-fields">
        <p class="checklist-col-name">Row Name</p>
        <%= f.fields_for :checklist_fields do |builder| %>
          <%= render "checklist_field_fields", f: builder %>
        <% end %>

        <div class="new_form_type__add-checklist-btn">
          <%= link_to_add_association display_icon("plus", "new_form_type__add-field-icon"), f, :checklist_fields,  :render_options => { :wrapper => 'inline' },
         :wrap_object => Proc.new { |field| field.type = 'ChecklistFormField'; field }, id: "add-checklist-field-link" %>
        </div>
      </div>
      <div class="pass-col">
        <p class="checklist-col-name">Pass</p>
      </div>
      <div class="fail-col">
        <p class="checklist-col-name">Fail</p>
      </div>
    </div>
    
    <div class="new_form_type__footer-fields-container">
      <%= f.fields_for :footer_fields do |builder| %>
        <div class="new_form_type__footer-fields">
          <%= render "footer_field_fields", f: builder %>
        </div>
      <% end %>

      <div class="new_form_type__add-footer-btn">
        <%= link_to_add_association display_icon("plus", "new_form_type__add-field-icon"), f, :footer_fields,  :render_options => { :wrapper => 'inline' },
       :wrap_object => Proc.new { |field| field.type = 'FooterFormField'; field } %>
      </div>
    </div>
    
    <div class="new_form_type__submit">
      <%= f.submit form_submit_text(@form_type), class: "new_form_type__btn-submit" %>
    </div>
  <% end %>
</div>


