<%= form_for @checklist_type do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, id: "field-name" %>
  </div>
  
  <div>
    <%= f.label :cols %>
    <%= f.text_field :cols, id: "field-cols" %>
  </div>
  
  <div>
    <%= f.label :rows %>
    <%= f.text_field :rows, id: "field-rows" %>
  </div>

  <div>
    <%= f.submit "Create", id: "submit-new-checklist-type" %>  
  </div>
<% end %>