<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to form_overview_path do %>
          <%= image_tag("ubg-logo.jpg", class: "navbar-left navbar__logo") %>
        <% end %>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          
          <li class="navbar__item <%= active_link?(form_overview_path, "active") %>">
            <%= link_to form_overview_path do %>
              <%= display_icon("clipboard-edit", "navbar__icon") %>
              <p class="navbar__link">Forms</p>
            <% end %>
          </li>
          
          <li class="navbar__item <%= active_link?(stats_path, "active") %>">
            <%= link_to stats_path, id: "stats-overview-link" do %>
              <%= display_icon("bar-graph", "navbar__icon") %>
              <p class="navbar__link">Stats</p>
            <% end %>
          </li>
          
          <li class="navbar__item <%= active_link?(new_feedback_path, "active") %>">
            <%= link_to new_feedback_path, id: "help-index-link" do %>
              <%= display_icon("help-with-circle", "navbar__icon") %>
              <p class="navbar__link">Help</p>
            <% end %>
          </li>
          
          <li class="navbar__item--last <%= active_link?(admin_index_path, "active") %>">
            <%= link_to admin_index_path, id: "admin-index-link" do %>
              <%= display_icon("cog", "navbar__icon") %>
              <p class="navbar__link">Admin</p>
            <% end %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right sign-out-link">
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
        </ul>
    </div>
</nav>