<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to dashboard_index_path, class: "navbar-brand" do %>
    <%= image_tag("um-logo.png", class: "navbar__logo") %>
    <span class="navbar__logo-text">Portal</span>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      
      <%= link_to form_overview_path, class: "navbar__link" do %>
        <li class="nav-item nav-item--left <%= active_link?(form_overview_path, "navbar__active") %>">
          
            <%= display_icon("clipboard-edit", "icon--md") %>
            <span>Forms</span>
        </li>
      <% end %>

      <%= link_to stats_path, id: "stats-overview-link", class: "navbar__link" do %>
        <li class="nav-item nav-item--left <%= active_link?(stats_path, "navbar__active") %>">
          <%= display_icon("bar-graph", "icon--md") %>
          <span>Stats</span>
        </li>
      <% end %>
      
      <%= link_to help_index_path, id: "help-index-link", class: "navbar__link" do %>
        <li class="nav-item nav-item--left <%= active_link?(help_index_path, "navbar__active") %>">
          <%= display_icon("help-with-circle", "icon--md") %>
          <span">Help</span>
        </li>
      <% end %>
      
      <% if current_user.admin? %>
        <%= link_to admin_index_path, id: "admin-index-link", class: "navbar__link" do %>
          <li class="nav-item nav-item--left <%= active_link?(help_index_path, "navbar__active") %>">
            <%= display_icon("cog", "icon--md") %>
            <span">Admin</span>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div class="nav-item">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
