<nav class="sidebar">
  <ul class="side-nav">
    <li class="side-nav__item <%= active_link?(dashboard_index_path, "side-nav__item--active") %>">
      <%= link_to dashboard_index_path, class: "side-nav__link" do %>
        <%= display_icon("spinner2", "side-nav__icon") %>
        <span class="side-nav__link-text">Overview</span>
      <% end %>
    </li>
    <li class="side-nav__item <%= active_link?(form_overview_path, "side-nav__item--active") %>">
      <%= link_to form_overview_path, class: "side-nav__link" do %>
        <%= display_icon("clipboard-edit", "side-nav__icon") %>
        <span class="side-nav__link-text">Forms</span>
      <% end %>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <%= display_icon("play", "side-nav__icon") %>
        <span class="side-nav__link-text">Courses</span>
      </a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">
        <%= display_icon("lock1", "side-nav__icon") %>
        <span class="side-nav__link-text">Admin</span>
      </a>
    </li>
  </ul>
</nav>