    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <%= image_tag(display_avatar(current_user, 40), class: "rounded-circle") %>
          </div>
          <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                <%= "#{current_user.first_name} #{current_user.last_name}" %>
              </span>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
        <ul class="nav">
          <li class="<%= active_link?(dashboard_index_path, "active") %>">
            <%= link_to dashboard_index_path do %>
              <%= display_icon("spinner2", "icon--md") %>
              <span class="sidebar__link">Dashboard</span>
            <% end %>
          </li>
          
          <li class="<%= active_link?(form_overview_path, "active") %>">
            <%= link_to form_overview_path do %>
              <%= display_icon("clipboard-edit", "icon--md") %>
              <span class="sidebar__link">Forms</span>
            <% end %>
          </li>

          <li class="<%= active_link?(courses_path, "active") %>">
            <%= link_to courses_path, id: "courses-index-link" do %>
              <%= display_icon("play", "icon--md") %>
              <span class="sidebar__link">Courses</span>
            <% end %>
          </li>

          <li class="<%= active_link?(stats_path, "active") %>">
            <%= link_to stats_path, id: "stats-overview-link" do %>
              <%= display_icon("bar-graph", "icon--md") %>
              <span class="sidebar__link">Stats</span>
            <% end %>
          </li>

          <li class="<%= active_link?(help_index_path, "active") %>">
            <%= link_to help_index_path, id: "help-index-link" do %>
              <%= display_icon("help-with-circle", "icon--md") %>
              <span class="sidebar__link">Help</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>