<%= form_for [@form_type, @form] do |f| %>
  <% if @form.errors.any? %>
    <div>
      <ul>
        <% @form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :properties, OpenStruct.new(@form.properties) do |builder| %>
    <h4>Header Fields</h4>
    <% @form_type.header_fields.each do |field| %>
      <%= render "portal/forms/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>

    <h4>Footer Fields</h4>
    <% @form_type.footer_fields.each do |field| %>
      <%= render "portal/forms/fields/#{field.field_type}", field: field, f: builder %>
    <% end %>
  <% end %>

  <div>
    <%= f.submit form_submit_text(@form) %>
  </div>
<% end %>
