<div class="row">
  <div class="col-md-12 text-center new_form_upload--mobile">
    <i class="fa fa-upload"></i>
    <%= link_to "Upload a Form Instead", new_form_type_form_upload_path(@form_type) %>
  </div>
</div>

<div class="form-container">
  <div class="new_form_type">
    <%= logo_helper(current_user, "form-logo--mobile") %>
    <h3 class="form-header"><%= @form_type.name %></h3>

    <%= form_for [@form_type, @form] do |f| %>
      <% if @form.errors.any? %>
        <div>
          <ul>
            <% @form.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <% if current_user.company.top? %>
        <div class="row new_form_type__company-select-container">
          <div class="col-md-12 text-center">
            <p>Which company are you inspecting?</p>
          </div>
          <div class="col-md-12 text-center">
            <%= collection_select(:form, :company_id, Company.all, :id, :initials, include_blank: true) %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12 text-center">
          <p><small>* The company prefix will automatically be added. Please only include numbers.</small></p>
        </div>
        <div class="col-md-12 text-center">
          <%= f.label :job_number, "Job #:" %>
          <%= f.text_field :job_number %>
        </div>
      </div>

      <div class="row">
        <%= f.fields_for :header_properties, OpenStruct.new(@form.header_properties) do |builder| %>
          <% @form_type.header_fields.each do |field| %>
            <div class="col-md-6">
              <div class="form-field-container">
                <%= render "portal/forms/fields/#{field.field_type}", field: field, f: builder %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <% if @form_type.has_checklist? %>
        <div class="row">
          <div class="col-md-12">
            <div class="pass-fail-table__container">
              <table class="table-striped pass-fail-table">
                <tr class="pass-fail-table__headers">
                  <th scope="col" class="pass-fail-table__col"></th>
                  <th scope="col" class="pass-fail-table__col">Pass</th>
                  <th scope="col" class="pass-fail-table__col">Fail</th>
                </tr>
                <%= f.fields_for :checklist_properties, OpenStruct.new(@form.checklist_properties) do |builder| %>
                  <% @form_type.checklist_fields.each do |field| %>
                    <%= render "portal/forms/fields/pass_fail", field: field, f: builder %>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      <% end %>

      
      <div class="row">
        <%= f.fields_for :footer_properties, OpenStruct.new(@form.footer_properties) do |builder| %>
          <% @form_type.footer_fields.each do |field| %>
            <div class="col-md-6">
              <div class="form-field-container">
                <%= render "portal/forms/fields/#{field.field_type}", field: field, f: builder %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.label :comment, "Comments", class: "form-text-field__name" %>:
          <%= f.text_area :comment, class: "form-text-field", rows: 7 %>
        </div>
      </div>

      <div class="row attach-img-container">
        <%= f.label :images, "Attach Images (MAX: 5):" %>
        <%= f.file_field :images, multiple: true, class: "attach-img-btn" %>
      </div>

      <div class="row form-submit-btn-container">
        <%= f.submit form_submit_text(@form), class: "form-submit-btn" %>
      </div>
    <% end %>
  </div>
</div>