<div class="form-show__container">
  <%= render "portal/shared/company_header" %>
  <h3 class="form-header"><%= @form_type.name %></h3>

  <div class="row">
    <% @form.header_properties.each do |name, value| %>
      <div class="col-xs-6">
        <div class="form-show__property">
          <b><%= name.humanize %>:</b>
          <%= value %>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if @form.form_type.has_checklist? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="pass-fail-table__container">
          <table class="table-striped pass-fail-table">
            <tr class="pass-fail-table__headers">
              <th scope="col" class="pass-fail-table__col"></th>
              <th scope="col" class="pass-fail-table__col">Pass</th>
              <th scope="col" class="pass-fail-table__col">Fail</th>
            </tr>
            <% @form.checklist_properties.each do |name, value| %>
              <tr class="pass-fail-table__row">
                <td class="pass-fail-table__property">
                  <%= name.humanize %>
                </td>
                <td>
                  <div class="pass-fail-table__x">
                    <%= "X" if value == "pass" %>
                  </div>
                </td>
                <td>
                  <div class="pass-fail-table__x">
                    <%= "X" if value == "fail" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% @form.footer_properties.each do |name, value| %>
      <div class="col-xs-6">
        <div class="form-show__property">
          <b><%= name.humanize %>:</b>
          <%= value %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <h3>Comments:</h3>
    <% @form.comments.each do |comment| %>
      <div class="well">
        <%= comment.body %>
      </div>
    <% end %>
    

  </div>
</div>


