<h1><%= @form_type.name %></h1>

<% @form.header_properties.each do |name, value| %>
  <p>
    <b><%= name.humanize %>:</b>
    <%= value %>
  </p>
<% end %>

<% @form.checklist_properties.each do |name, value| %>
  <p>
    <b><%= name.humanize %>:</b>
    <%= value %>
  </p>
<% end %>

<% @form.footer_properties.each do |name, value| %>
  <p>
    <b><%= name.humanize %>:</b>
    <%= value %>
  </p>
<% end %>

<%= link_to "Edit", edit_form_type_form_path(@form_type, @form), id: "edit-form-#{@form.id}" %>
<%= link_to "Delete", form_type_form_path(@form_type, @form), method: :delete, id: "destroy-form-#{@form.id}", data: { confirm: 'Are you sure you want to delete this form?' } %>