<div class="container form-uploads__container">
  <div class="row text-center">
    <%= form_for [@form_type, @form_upload], html: { class: "form-uploads__form" } do |f| %>

      <% if @form_upload.errors.any? %>
        <p>Errors:</p>
        <div id="error_explanation">
          <ul>
            <% @form_upload.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <div class="row form-uploads__field">
        <%= f.label :job_number %>
        <%= f.text_field :job_number, class: "form-uploads__text-field" %>
      </div>

      <div class="row form-uploads__field">
        <%= f.label :form, "Upload Your Form:" %>
        <%= f.file_field :form, class: "form-uploads__file-field" %>
      </div>

      <div class="row form-submit-btn-container">
        <%= f.submit "Upload", class: "form-submit-btn" %>
      </div>
    <% end %>
  </div>
</div>

