<!DOCTYPE html>
<html>
  <head>
    <title>UM Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'portal', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= render "portal/shared/nav" %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
    <%= render "portal/shared/flash" if flash.present? %>
  </body>
</html>
