<!DOCTYPE html>
<html>
  <head>
    <title>UM Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'portal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <div class="wrapper ">
        <%= render "portal/shared/sidebar" %>
        <div class="main-panel">
          <%= render "portal/shared/header" %>

          <div class="content">
            <%= yield %>
            <!-- Footer -->  
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
