<!DOCTYPE html>
<html>
  <head>
    <title>United Masonry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'static', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "static/shared/nav" %>
    <%= yield %>
    <%= render "static/shared/footer" %>
    <%= render "static/shared/contact_modal" %>
  </body>
  <script>
  var scroll = new SmoothScroll('a[href*="#"]', {
    ignore: '[data-scroll-ignore]'
  });
</script>
</html>
