<!DOCTYPE html>
<html>
  <head>
    <title>United Masonry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'static', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "static/shared/nav" %>
    <%= yield %>
    <%= render "static/shared/footer" %>
    <%= render "static/shared/contact_modal" %>
  </body>
</html>
